<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Vue</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">

</head>
<body>

    <main id="myApp">
        <div v-for="n in numberOfRepeats">
            <h3>{{ greeting + ' ' + (11-n) }}<em v-for="m in n">!</em></h3>
        </div>
    </main>

</body>
</html>